@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Sequel-Sans-Bold ;
  src: url(fonts/Sequel\ Sans\ Bold\ Obl\ Head.ttf);
}

@font-face {
  font-family: Sequel-Black-Head ;
  src: url(/src/fonts/Sequel\ Sans\ Black\ Head.ttf);
}

@font-face {
  font-family: Sequel-Light-Body ;
  src: url(/src/fonts/Sequel\ Sans\ Light\ Body.ttf);
}

@font-face {
  font-family: OpenSans-Regular ;
  src: url(/src/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Medium ;
  src: url(/src/fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: OpenSans-Light ;
  src: url(/src/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OrelegaOne-Regular;
  src: url(fonts/OrelegaOne-Regular.ttf);
}
